{:deps
 {:aliases [:cljs]}

 :dev-http
 {3000 "public"
  3001 ["out/devcards" "public"]} ; public included to serve static assets under the same path as 3000 /img/shadow.png

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules    {:main {:init-fn example.app/init!}}}

  :devcards
  {:target           :browser-test ; using :browser-test to pickup all files that match `-test$`
   :ns-regexp        "-cards$" ; default option for :browser-test is -test$
   :test-dir         "out/devcards"
   :runner-ns        example.devcards ; must have init fn to run
   :compiler-options {:devcards           true
                      :output-feature-set :es8}
   :js-options       {:resolve
                      {"devcards-marked"
                       {:target :npm :require "marked"}
                       "devcards-syntax-highlighter"
                       {:target :npm :require "highlight.js"}}}}}}
